@{
    ViewData["Title"] = "Mis Proyectos";
}
<h1>@ViewData["Title"]</h1>

<div class="row left">
    <p>Aquí encontrarás todos los proyectos en los que he trabajado.</p>

<div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var project in ViewBag.VSergi)
            {
                <div class="card col-4 margins" style="width: 18rem;">
                    <div class="card h-100">
                        <img src="@project.imageURL" class="card-img-top" alt="imagen proyecto" />
                        <div class="card-body">
                            <h5 class="card-title">@project.Title</h5>
                            <p class="card-text">@project.Description</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="@project.Link" target="_blank"
                            rel="noopener noreferrer">Visitar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>